SUPABASE_URL=https://vlnbqboazmppwnupiaph.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_4HJB6WD2gM8XagwSlkPkOg_4yAVwlid
EMBEDDING_PROVIDER=jina
JINA_API_KEY=jina_d5d4070f0f9d495a95f94797e6926753JFo1Z7R1FpJpCgP3I7XtxFMGLzq7
JINA_EMBEDDING_MODEL=jina-embeddings-v3
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant
TOP_K=3
SIMILARITY_THRESHOLD=0.6
MAX_CONTEXT_CHARS=5000
