.env
.env.*
!frontend/.env.local.example
!frontend/.env.production.example

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
backend/

venv/
.venv/
env/

node_modules/
.next/
out/
dist/
frontend/data/raw_pdfs/
frontend/data/processed/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/data/
