torch
transformers
sentence-transformers

faiss-cpu==1.7.4

langchain
langchain-openai
langchain-community
langsmith

pdfplumber
spacy
tiktoken

streamlit

openai
python-dotenv

numpy
pandas

tqdm
